repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-json

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
    - id: black
      language_version: python3.11

- repo: https://github.com/PyCQA/pylint
  rev: v2.17.0
  hooks:
    - id: pylint
      args: [
        '--max-line-length=88',
        '--disable=C0114,C0115,C0116,E0401,C0103,R0903,W0621,W0603,W0613,C0411,C0301,W1203,W0718,R0914,W1508'
      ]
